@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  * {
    font-family: "Inter var", sans-serif;
  }
}
.center {
    text-align: center;
}

.title {
    font-size: 40px;
}
