@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Segoe UI";
}
@supports (font-variation-settings: normal) {
  * {
    font-family: "Segoe UI";
  }
}
<<<<<<< Updated upstream
=======
.center { 
    text-align: center;
}
>>>>>>> Stashed changes

.ips {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../public/images/ips.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}